<?xml version="1.0" encoding="UTF-8"?>

<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd">

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php,ctp"/>
    <arg name="parallel" value="75"/>

    <rule ref="vendor/eggheads/eggheads-code-style/rules/phpcs-rules.xml"/>

    <file>src/</file>
    <file>tests/</file>
</ruleset>
